<template>
    <div class="card space-y-4 rounded-lg shadow-xl pb-8" >
      <div class="w-full overflow-hidden">
        <img :src="require('@/assets/img/card-image.png')" class="w-full transform hover:scale-110 transition duration-300" alt="">
      </div>
      <div class="px-6 xl:px-8">
        <h3 class="text-2xl text-secondaryText font-bold pt-2">Bahasa Indonesia</h3>
        <p class="text-base text-gray-400 mt-3">Kelas I Sekolah Dasar</p>
        <div class="flex items-center space-x-4 mt-6">
          <img :src="require('@/assets/img/profile.png')" alt="">
          <div>
            <h5 class="font-medium text-lg text-primaryText">Cici Sang Putri</h5>
            <p class="text-base text-gray-400">Guru SDN 01 Pekanbaru</p>
          </div>
        </div>
        <div class="flex justify-between mt-8">
          <h5 class="font-medium text-lg text-primaryText">Rp.90.000</h5>
          <button class="px-4 py-1 rounded-md font-bold bg-white border-2 border-primary hover:bg-primary hover:text-white transition duration-300 text-primary">Lihat Kelas</button>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    
}
</script>