<template>
  <div id="app" class="max-w-screen-xl mx-auto px-12 sm:px-20 md:px-8 xl:px-10 2xl:px-4 py-16 md:py-10 grid md:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-12">
    <Card v-for="index in 10" :key="index" />
  </div>
</template>

<script>
import Card from './components/Card.vue'

export default {
  name: 'App',
  components: {
    Card,
  }
}
// 
</script>
